<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,384},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>lianji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,537},{116,117}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,127}</string>
            </dict>
            <key>lianji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,655},{122,113}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>lianji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{141,119}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{161,127}</string>
            </dict>
            <key>lianji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{159,115}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,115}}</string>
                <key>sourceSize</key>
                <string>{159,127}</string>
            </dict>
            <key>lianji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{130,119}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{136,127}</string>
            </dict>
            <key>lianji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{138,121}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,121}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>ui_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,447},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
            <key>ui_diaoyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{213,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{213,40}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>ui_diaoyu1xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{213,40}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>ui_game_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,331},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>ui_heibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,128},{254,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,46}}</string>
                <key>sourceSize</key>
                <string>{254,46}</string>
            </dict>
            <key>ui_lanshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_lvshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_lvshangxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_tishi_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,266},{63,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>ui_tishi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>ui_tishi_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,655},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>ui_tishi_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>ui_tishi_zi4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,245},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>ui_tishi_zi4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,223},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>ui_tishi_zi4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,655},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>ui_tishi_zi4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,655},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>ui_zimubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,198},{42,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>ui_zimubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,173},{42,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>ui_zimubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,655},{125,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,23}}</string>
                <key>sourceSize</key>
                <string>{127,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{255,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84218ba8ed0f4c81fff208a9143627d:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
