<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_ctzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,436},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,29}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>ui_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,436},{83,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,60}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>ui_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,268},{108,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{108,65}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>ui_shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,436},{108,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,77}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>ui_shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,285},{149,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,120}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>ui_shop_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,268},{182,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,266}}</string>
                <key>sourceSize</key>
                <string>{182,266}</string>
            </dict>
            <key>ui_shop_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,264}}</string>
                <key>sourceSize</key>
                <string>{376,264}</string>
            </dict>
            <key>ui_shop_libao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{120,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,281}}</string>
                <key>sourceSize</key>
                <string>{120,281}</string>
            </dict>
            <key>ui_shop_libao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{120,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,280}}</string>
                <key>sourceSize</key>
                <string>{120,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{502,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd974649ed3784edf18f247b7f65ae36:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
