<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_jinback.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>ui_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_icon.png</string>
            <key>size</key>
            <string>{177,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdd0f4872704d492d956b9f3f53462f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_icon.png</string>
        </dict>
    </dict>
</plist>
