<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,208},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,595},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>ui_jiesao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{241,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,26}}</string>
                <key>sourceSize</key>
                <string>{241,26}</string>
            </dict>
            <key>ui_jiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,118}}</string>
                <key>sourceSize</key>
                <string>{343,118}</string>
            </dict>
            <key>ui_jinback.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,484},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>ui_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,609},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>ui_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{147,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,80}</string>
            </dict>
            <key>ui_mapbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,84},{112,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,142}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>ui_mapkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,341},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,497},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,326},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuangbantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,198},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,484},{103,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,123}}</string>
                <key>sourceSize</key>
                <string>{103,123}</string>
            </dict>
            <key>ui_mapsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,198},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>ui_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,534},{44,54}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_qianback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{216,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,46}}</string>
                <key>sourceSize</key>
                <string>{216,46}</string>
            </dict>
            <key>ui_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,122},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,249},{67,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>ui_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,484},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ui_suo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,609},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{44,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map.png</string>
            <key>size</key>
            <string>{505,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3104a72d48d2d1b20bda41fb668b8e9d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map.png</string>
        </dict>
    </dict>
</plist>
