<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_set_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,58},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ui_set_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,58},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>ui_set_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,58},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>ui_set_xianhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{158,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>ui_set_xianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>ui_set_yinhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{158,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,54}}</string>
                <key>sourceSize</key>
                <string>{164,54}</string>
            </dict>
            <key>ui_set_yinliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>ui_set_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,58},{64,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>ui_set_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,58},{62,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_set.png</string>
            <key>size</key>
            <string>{496,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bae68dd49e04760bf5ec2f40fb6d70da:1/1$</string>
            <key>textureFileName</key>
            <string>ui_set.png</string>
        </dict>
    </dict>
</plist>
