<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lufei_chuanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{130,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>lufei_chuanqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,76}}</string>
                <key>sourceSize</key>
                <string>{160,78}</string>
            </dict>
            <key>lufei_diaoyushouhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{42,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>lufei_diaoyushouqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,51}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>lufei_shenglishouhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,164},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>lufei_shenglishouqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,55},{34,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>lufei_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,136},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>lufei_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,136},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_2.png</string>
            <key>size</key>
            <string>{254,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3164fe35357c2b4aa4f67a222c78f2c$</string>
            <key>textureFileName</key>
            <string>player_2.png</string>
        </dict>
    </dict>
</plist>
