<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chushi_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,806},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,27}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>chushi_chuanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{180,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{180,86}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>chushi_chuanshenhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,759},{153,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{153,45}}</string>
                <key>sourceSize</key>
                <string>{163,53}</string>
            </dict>
            <key>chushi_chuantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,849},{49,81}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{49,81}}</string>
                <key>sourceSize</key>
                <string>{63,111}</string>
            </dict>
            <key>chushi_shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,215}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{249,215}}</string>
                <key>sourceSize</key>
                <string>{275,235}</string>
            </dict>
            <key>chushi_shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{275,233}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,233}}</string>
                <key>sourceSize</key>
                <string>{275,235}</string>
            </dict>
            <key>chushi_shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{261,223}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{261,223}}</string>
                <key>sourceSize</key>
                <string>{275,235}</string>
            </dict>
            <key>chushi_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,806},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,131}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>chushi_toufadaimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,560},{20,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>chushi_toufazuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{36,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{36,68}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>chushi_yougebodiaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,806},{26,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{26,25}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>chushi_yougeboshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,531},{27,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{27,22}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>chushi_zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,588},{39,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,18}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>chushi_zuogebodiaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,219},{16,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{16,13}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>chushi_zuogeboshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,939},{33,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,31}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>chushi_zuotuidiaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,629},{15,41}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{15,41}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>chushi_zuotuishengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,941},{32,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,33}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>chushtoufayoui_.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,939},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{37,70}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>zuotuishengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,496},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{24,33}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1.png</string>
            <key>size</key>
            <string>{253,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4620a52ff90d17dae7bdee7a27ed318a$</string>
            <key>textureFileName</key>
            <string>player_1.png</string>
        </dict>
    </dict>
</plist>
