<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lufei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{248,213}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{248,213}}</string>
                <key>sourceSize</key>
                <string>{264,215}</string>
            </dict>
            <key>lufei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,217},{250,213}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{250,213}}</string>
                <key>sourceSize</key>
                <string>{264,215}</string>
            </dict>
            <key>lufei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{250,213}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{250,213}}</string>
                <key>sourceSize</key>
                <string>{264,215}</string>
            </dict>
            <key>lufei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,213}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{256,213}}</string>
                <key>sourceSize</key>
                <string>{264,215}</string>
            </dict>
            <key>lufei_chuanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{164,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{164,171}}</string>
                <key>sourceSize</key>
                <string>{202,183}</string>
            </dict>
            <key>lufei_chuanqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,432},{205,96}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{205,96}}</string>
                <key>sourceSize</key>
                <string>{217,112}</string>
            </dict>
            <key>lufei_diaoyushouhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,530},{51,48}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{51,48}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>lufei_diaoyushouqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,530},{49,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{49,65}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>lufei_shenglishouhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,530},{45,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{45,51}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>lufei_shenglishouqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,530},{44,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{44,61}}</string>
                <key>sourceSize</key>
                <string>{54,77}</string>
            </dict>
            <key>lufei_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,432},{71,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{71,102}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>lufei_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,505},{88,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{88,70}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_2.png</string>
            <key>size</key>
            <string>{510,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8bc4b08ad46ff3282e0d45f447034d$</string>
            <key>textureFileName</key>
            <string>player_2.png</string>
        </dict>
    </dict>
</plist>
