<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juren_ diaoyuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,183},{41,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,43}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>juren_ feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,62},{150,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>juren_ feichuanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,236},{83,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{83,13}}</string>
                <key>sourceSize</key>
                <string>{93,23}</string>
            </dict>
            <key>juren_ juren_ diaoyuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,214},{38,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>juren_ renti.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{58,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,91}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>juren_ shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,198}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,198}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{232,184}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{232,184}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{244,190}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,190}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shengliyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,148},{33,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{33,46}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>juren_ shenglizuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,93},{46,53}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,53}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>juren_ youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,236},{9,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{9,28}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>juren_ youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,214},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>juren_ zhayan.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,236},{25,13}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>juren_ zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,236},{25,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{25,14}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>juren_ zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,62},{29,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,47}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>juren_ zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,226},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,39}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3.png</string>
            <key>size</key>
            <string>{685,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55865cada53f37b0ffe6c63aa3d07ecb$</string>
            <key>textureFileName</key>
            <string>player_3.png</string>
        </dict>
    </dict>
</plist>
