<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juren_ diaoyuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,142},{59,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{59,61}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>juren_ feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{217,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{217,77}}</string>
                <key>sourceSize</key>
                <string>{223,89}</string>
            </dict>
            <key>juren_ feichuanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,81},{127,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{127,22}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>juren_ juren_ diaoyuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,142},{54,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,47}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>juren_ renti.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,81},{84,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{84,135}}</string>
                <key>sourceSize</key>
                <string>{94,149}</string>
            </dict>
            <key>juren_ shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,198}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,198}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{232,184}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{232,184}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{244,190}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,190}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>juren_ shengliyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,210},{43,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{43,65}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>juren_ shenglizuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,81},{59,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,68}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>juren_ youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,236},{9,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{9,28}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>juren_ youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,191},{32,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,55}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>juren_ zhayan.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,191},{37,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{37,20}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>juren_ zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,218},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{35,20}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>juren_ zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,218},{35,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{35,66}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>juren_ zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,81},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{33,57}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3.png</string>
            <key>size</key>
            <string>{807,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337043931a6ace3696ec555a1ed3f3e1$</string>
            <key>textureFileName</key>
            <string>player_3.png</string>
        </dict>
    </dict>
</plist>
