<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_citie.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{109,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,101}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>button_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,162},{77,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>button_fanhui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,178},{166,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,63}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>button_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,61},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>button_jiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{150,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,57}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>button_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,113},{166,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,63}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>button_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{194,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,80}}</string>
                <key>sourceSize</key>
                <string>{194,80}</string>
            </dict>
            <key>button_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,95}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>button_mapbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,142}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>button_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{77,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>button_xiagou.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,155},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>button_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,61},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>button_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{547,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a293966e15ebbbca4121af8a887cb17:1/1$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
