<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_c_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{305,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{305,32}}</string>
                <key>sourceSize</key>
                <string>{309,32}</string>
            </dict>
            <key>ui_c_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{219,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,338}}</string>
                <key>sourceSize</key>
                <string>{219,338}</string>
            </dict>
            <key>ui_c_wanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,801},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>ui_c_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,804},{57,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>ui_c_xing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,864},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>ui_c_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,713},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>ui_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,743},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>ui_noname_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,340},{200,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,39}}</string>
                <key>sourceSize</key>
                <string>{200,43}</string>
            </dict>
            <key>ui_noname_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,540},{201,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,39}}</string>
                <key>sourceSize</key>
                <string>{201,43}</string>
            </dict>
            <key>ui_noname_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{201,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,39}}</string>
                <key>sourceSize</key>
                <string>{201,43}</string>
            </dict>
            <key>ui_noname_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,913},{371,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{371,38}}</string>
                <key>sourceSize</key>
                <string>{371,42}</string>
            </dict>
            <key>ui_nozi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,152},{398,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,80}}</string>
                <key>sourceSize</key>
                <string>{398,80}</string>
            </dict>
            <key>ui_nozi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,337},{366,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,82}}</string>
                <key>sourceSize</key>
                <string>{366,82}</string>
            </dict>
            <key>ui_nozi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,490},{380,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{380,48}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>ui_nozi_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{416,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,66}}</string>
                <key>sourceSize</key>
                <string>{416,66}</string>
            </dict>
            <key>ui_nozi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,440},{380,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{380,48}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>ui_nozi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,390},{392,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{392,48}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>ui_nozi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,340},{392,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{392,48}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>ui_nozi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,290},{392,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{392,48}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>ui_nozi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,70},{398,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,80}}</string>
                <key>sourceSize</key>
                <string>{398,80}</string>
            </dict>
            <key>ui_nozi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,764},{464,35}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,35}}</string>
                <key>sourceSize</key>
                <string>{468,37}</string>
            </dict>
            <key>ui_set_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{5,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{5,171}}</string>
                <key>sourceSize</key>
                <string>{11,175}</string>
            </dict>
            <key>ui_sr.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,898},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ui_ti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,857},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,801},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,708},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,652},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,596},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,540},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,337},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,337},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,234},{420,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,54}}</string>
                <key>sourceSize</key>
                <string>{420,54}</string>
            </dict>
            <key>ui_ti_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,337},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_tishi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,333}}</string>
                <key>sourceSize</key>
                <string>{504,333}</string>
            </dict>
            <key>ui_wan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,953},{376,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,21}}</string>
                <key>sourceSize</key>
                <string>{376,21}</string>
            </dict>
            <key>ui_wanmeijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,542},{199,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,38}}</string>
                <key>sourceSize</key>
                <string>{199,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{933,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8199f1c4581729eaf6253f68b48025a8:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
