<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_c_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{305,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{305,32}}</string>
                <key>sourceSize</key>
                <string>{309,32}</string>
            </dict>
            <key>ui_c_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,378},{219,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,338}}</string>
                <key>sourceSize</key>
                <string>{219,338}</string>
            </dict>
            <key>ui_c_wanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,380},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>ui_c_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{57,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>ui_c_xing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,61},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>ui_c_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,525},{63,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>ui_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>ui_set_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,599},{5,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{5,171}}</string>
                <key>sourceSize</key>
                <string>{11,175}</string>
            </dict>
            <key>ui_sr.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,477},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ui_ti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,118},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,63},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,508},{374,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,54}}</string>
                <key>sourceSize</key>
                <string>{374,54}</string>
            </dict>
            <key>ui_ti_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{420,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,54}}</string>
                <key>sourceSize</key>
                <string>{420,54}</string>
            </dict>
            <key>ui_tishi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{504,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,333}}</string>
                <key>sourceSize</key>
                <string>{504,333}</string>
            </dict>
            <key>ui_wan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{376,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,21}}</string>
                <key>sourceSize</key>
                <string>{376,21}</string>
            </dict>
            <key>ui_wanmeijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,309},{245,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{245,33}}</string>
                <key>sourceSize</key>
                <string>{249,37}</string>
            </dict>
            <key>yindao_d_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,36}}</string>
                <key>sourceSize</key>
                <string>{564,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1004,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17ea078356f98cd99c427cf2faa3c5b8:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
