<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
            <key>ui_diaoyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,78},{213,39}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{213,39}}</string>
                <key>sourceSize</key>
                <string>{219,41}</string>
            </dict>
            <key>ui_diaoyuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{24,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>ui_game_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,27},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>ui_game_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>ui_heibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{254,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,46}}</string>
                <key>sourceSize</key>
                <string>{254,46}</string>
            </dict>
            <key>ui_lanshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,84},{204,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,28}}</string>
                <key>sourceSize</key>
                <string>{206,30}</string>
            </dict>
            <key>ui_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>ui_lvshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{205,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,26}}</string>
                <key>sourceSize</key>
                <string>{205,26}</string>
            </dict>
            <key>ui_lvshangxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,50},{205,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,26}}</string>
                <key>sourceSize</key>
                <string>{205,26}</string>
            </dict>
            <key>ui_tishi_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{63,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>ui_tishi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,50},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>ui_tishi_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,30},{161,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,20}}</string>
                <key>sourceSize</key>
                <string>{161,20}</string>
            </dict>
            <key>ui_tishi_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,84},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>ui_tishi_zi4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>ui_tishi_zi4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>ui_tishi_zi4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>ui_tishi_zi4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>ui_zimubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,78},{42,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>ui_zimubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,78},{42,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>ui_zimubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,52},{125,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,23}}</string>
                <key>sourceSize</key>
                <string>{127,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{879,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0880ef685a5fc71168ab7c94e8a97823:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
