<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>citieshi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,794},{67,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>dacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,536},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>lianji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,577},{116,117}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,127}</string>
            </dict>
            <key>lianji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,462},{122,113}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>lianji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,119},{141,119}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{161,127}</string>
            </dict>
            <key>lianji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{159,115}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,115}}</string>
                <key>sourceSize</key>
                <string>{159,127}</string>
            </dict>
            <key>lianji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,330},{130,119}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{136,127}</string>
            </dict>
            <key>lianji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{138,121}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,121}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>ui_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,240},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
            <key>ui_diaoyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,582},{213,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{213,40}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>ui_diaoyu1xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{213,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{213,40}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>ui_game_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,696},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>ui_heibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{249,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,47}}</string>
                <key>sourceSize</key>
                <string>{249,47}</string>
            </dict>
            <key>ui_lanshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,446},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_lvshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,119},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_lvshangxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,331},{203,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,27}}</string>
                <key>sourceSize</key>
                <string>{203,27}</string>
            </dict>
            <key>ui_tishi_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,651},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,40}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>ui_tishi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,794},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>ui_tishi_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,324},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>ui_tishi_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,758},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>ui_tishi_zi4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,729},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>ui_tishi_zi4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,892},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>ui_tishi_zi4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,324},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>ui_tishi_zi4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,240},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>ui_zimubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,867},{42,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>ui_zimubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,867},{42,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>ui_zimubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,794},{125,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,23}}</string>
                <key>sourceSize</key>
                <string>{127,23}</string>
            </dict>
            <key>yindao_d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,74}}</string>
                <key>sourceSize</key>
                <string>{327,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{253,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9be5f69e85b9b0e79a9c3682f97d8e:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
