<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,574},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>ui_dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>ui_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,640}}</string>
                <key>sourceSize</key>
                <string>{696,640}</string>
            </dict>
            <key>ui_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,729},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>ui_jiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{343,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,118}}</string>
                <key>sourceSize</key>
                <string>{343,118}</string>
            </dict>
            <key>ui_jinback.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,714},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>ui_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,714},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>ui_mapkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,344},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,431},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,173},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,288},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,145},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapkuangbantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{169,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{169,141}</string>
            </dict>
            <key>ui_mapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,515},{103,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,123}}</string>
                <key>sourceSize</key>
                <string>{103,123}</string>
            </dict>
            <key>ui_mapsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,729},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>ui_player_jieshao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,736},{188,20}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_jieshao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,707},{92,20}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_jieshao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,758},{172,20}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_jieshao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,515},{172,20}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_jieshao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,692},{226,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_jieshao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,714},{188,20}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,20}}</string>
                <key>sourceSize</key>
                <string>{226,20}</string>
            </dict>
            <key>ui_player_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,623},{147,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,47}}</string>
                <key>sourceSize</key>
                <string>{147,47}</string>
            </dict>
            <key>ui_player_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,750},{100,29}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>ui_player_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,574},{150,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,47}}</string>
                <key>sourceSize</key>
                <string>{150,47}</string>
            </dict>
            <key>ui_player_zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,672},{101,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{101,33}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>ui_player_zi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,644},{133,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{133,33}}</string>
                <key>sourceSize</key>
                <string>{133,47}</string>
            </dict>
            <key>ui_player_zi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,679},{134,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{134,33}}</string>
                <key>sourceSize</key>
                <string>{134,47}</string>
            </dict>
            <key>ui_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,672},{44,54}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_qianback.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,644},{216,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,46}}</string>
                <key>sourceSize</key>
                <string>{216,46}</string>
            </dict>
            <key>ui_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,620},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,620},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ui_suo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,668},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{44,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map.png</string>
            <key>size</key>
            <string>{1018,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b962de4458543e5aebd22c2c3f3818c0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map.png</string>
        </dict>
    </dict>
</plist>
