<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_set1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,303},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>ui_set2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,303},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>ui_set3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,358},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>ui_set_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{483,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,299}}</string>
                <key>sourceSize</key>
                <string>{483,299}</string>
            </dict>
            <key>ui_set_duigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,358},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>ui_set_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,303},{145,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,53}}</string>
                <key>sourceSize</key>
                <string>{145,53}</string>
            </dict>
            <key>ui_set_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,303},{157,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,53}}</string>
                <key>sourceSize</key>
                <string>{157,53}</string>
            </dict>
            <key>ui_set_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,369},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ui_set_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>ui_setzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,369},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>ui_setzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,303},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>ui_setzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_set.png</string>
            <key>size</key>
            <string>{492,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd383f1d1ae423948b456de3acab4bd3:1/1$</string>
            <key>textureFileName</key>
            <string>ui_set.png</string>
        </dict>
    </dict>
</plist>
