<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yindao_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,24}}</string>
                <key>sourceSize</key>
                <string>{497,24}</string>
            </dict>
            <key>yindao_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{497,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{497,24}}</string>
                <key>sourceSize</key>
                <string>{499,24}</string>
            </dict>
            <key>yindao_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{324,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{324,34}}</string>
                <key>sourceSize</key>
                <string>{328,34}</string>
            </dict>
            <key>yindao_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,54},{325,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,35}}</string>
                <key>sourceSize</key>
                <string>{327,35}</string>
            </dict>
            <key>yindao_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,54},{228,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,35}}</string>
                <key>sourceSize</key>
                <string>{232,35}</string>
            </dict>
            <key>yindao_d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{463,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,35}}</string>
                <key>sourceSize</key>
                <string>{463,35}</string>
            </dict>
            <key>yindao_d_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,91},{422,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,35}}</string>
                <key>sourceSize</key>
                <string>{430,35}</string>
            </dict>
            <key>yindao_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{329,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{329,24}}</string>
                <key>sourceSize</key>
                <string>{333,24}</string>
            </dict>
            <key>yindao_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,28},{399,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{399,24}}</string>
                <key>sourceSize</key>
                <string>{401,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yindao.png</string>
            <key>size</key>
            <string>{902,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a0cc7af5424f54fd824c66dc0fae46:1/1$</string>
            <key>textureFileName</key>
            <string>yindao.png</string>
        </dict>
    </dict>
</plist>
