<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad000.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,882},{106,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{106,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>ad001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,884},{114,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{114,54}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>ad002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{116,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{116,58}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>ad003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,884},{116,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{116,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>ad004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,884},{116,52}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{116,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>dengglow000.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,302},{313,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,298}}</string>
                <key>sourceSize</key>
                <string>{313,298}</string>
            </dict>
            <key>dengglow001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{313,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,298}}</string>
                <key>sourceSize</key>
                <string>{313,298}</string>
            </dict>
            <key>dengglow002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{313,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,298}}</string>
                <key>sourceSize</key>
                <string>{313,298}</string>
            </dict>
            <key>dengglow003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{280,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,275}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>dengglow004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,298}}</string>
                <key>sourceSize</key>
                <string>{313,298}</string>
            </dict>
            <key>denglong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,602},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>denglong001.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,602},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>denglong002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,704},{94,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{94,75}</string>
            </dict>
            <key>denglongyu000.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,713},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>denglongyu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,883},{106,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,75}}</string>
                <key>sourceSize</key>
                <string>{106,75}</string>
            </dict>
            <key>denglongyu002.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,704},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>denglongyu003.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,602},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>denglongyu004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,884},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>haitun000.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,881},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,50}</string>
            </dict>
            <key>haitun001.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,806},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>haitun002.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,824},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>haitun003.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,925},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>haitun004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,122},{112,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>haituncaihong000.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,236},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>haituncaihong001.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,455},{107,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,39}}</string>
                <key>sourceSize</key>
                <string>{107,39}</string>
            </dict>
            <key>haituncaihong002.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>haituncaihong003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,334},{119,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,39}}</string>
                <key>sourceSize</key>
                <string>{119,39}</string>
            </dict>
            <key>wugui_suo00.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,800},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>wugui_suo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,881},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>wugui_suo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,696},{90,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>wugui_suo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,731},{89,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,65}}</string>
                <key>sourceSize</key>
                <string>{89,65}</string>
            </dict>
            <key>wugui_suo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,824},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>wugui_suo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,564},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>wugui_you00.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,800},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>wugui_you01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,667},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>wugui_you02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,602},{81,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,63}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>wugui_you03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,798},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>wugui_you04.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,798},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>wugui_you05.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,861},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>wuguiguang_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,602},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_fish.png</string>
            <key>size</key>
            <string>{674,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efbf884db282330ac888c0be4816c462$</string>
            <key>textureFileName</key>
            <string>buff_fish.png</string>
        </dict>
    </dict>
</plist>
