<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{74,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>fish_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{66,71}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{66,71}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>fish_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{62,69}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{62,69}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>fish_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,71}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,71}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>fish_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>fish_14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_14.png</string>
            <key>size</key>
            <string>{434,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d23a63e3ec38ff560dffb9da3f46941$</string>
            <key>textureFileName</key>
            <string>fish_14.png</string>
        </dict>
    </dict>
</plist>
