<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{65,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{65,80}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>fish_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{63,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>fish_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{59,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>fish_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{61,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>fish_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{63,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>fish_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_6.png</string>
            <key>size</key>
            <string>{502,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5590225b15bd4ff0cacdd808976e4385$</string>
            <key>textureFileName</key>
            <string>fish_6.png</string>
        </dict>
    </dict>
</plist>
