<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{84,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fish_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{86,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,55}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fish_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{80,55}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fish_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{74,55}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fish_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,57}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fish_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,57}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_9.png</string>
            <key>size</key>
            <string>{486,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fa0195ec6a09aa178945cda994988c$</string>
            <key>textureFileName</key>
            <string>fish_9.png</string>
        </dict>
    </dict>
</plist>
