<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanghuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{57,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{57,44}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>guanghuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{59,40}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>guanghuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{57,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,46}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>huangguan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{35,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangguan.png</string>
            <key>size</key>
            <string>{63,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd96422c877e8463b4a81f15b116e1d$</string>
            <key>textureFileName</key>
            <string>huangguan.png</string>
        </dict>
    </dict>
</plist>
