<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{78,54}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{78,54}}</string>
                <key>sourceSize</key>
                <string>{80,118}</string>
            </dict>
            <key>shell_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,118}</string>
            </dict>
            <key>shell_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,108}}</string>
                <key>sourceSize</key>
                <string>{80,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shell_1.png</string>
            <key>size</key>
            <string>{254,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ace3dc872fe39a4fffe22f49e62e79$</string>
            <key>textureFileName</key>
            <string>shell_1.png</string>
        </dict>
    </dict>
</plist>
