<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yugu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,45}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishbone.png</string>
            <key>size</key>
            <string>{71,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8b58e60a5e2c2ab0cf6a56055f8436:1/1$</string>
            <key>textureFileName</key>
            <string>fishbone.png</string>
        </dict>
    </dict>
</plist>
