<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{73,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fish_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fish_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fish_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{71,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fish_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{71,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,64}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fish_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_8.png</string>
            <key>size</key>
            <string>{77,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da9db443b94de3433f2183e549007904$</string>
            <key>textureFileName</key>
            <string>fish_8.png</string>
        </dict>
    </dict>
</plist>
