<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>fish_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,64},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>fish_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,64},{73,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,58}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>fish_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>fish_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>fish_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_10.png</string>
            <key>size</key>
            <string>{229,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8905eb59f88cf3390b39d01c70126c46$</string>
            <key>textureFileName</key>
            <string>fish_10.png</string>
        </dict>
    </dict>
</plist>
