<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>fish_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{70,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{70,48}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>fish_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{66,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{66,46}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>fish_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{72,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{72,46}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>fish_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>fish_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_11.png</string>
            <key>size</key>
            <string>{454,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f60e58c2feeb61fd2f14078014deaf$</string>
            <key>textureFileName</key>
            <string>fish_11.png</string>
        </dict>
    </dict>
</plist>
