<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{109,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>fish_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{105,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,46}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>fish_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{103,44}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{103,44}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>fish_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{107,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{107,46}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>fish_13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
            <key>fish_13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{111,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_13.png</string>
            <key>size</key>
            <string>{660,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac2e6bc4d6ce97bbc9c256a4b10d4f8$</string>
            <key>textureFileName</key>
            <string>fish_13.png</string>
        </dict>
    </dict>
</plist>
