<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{74,53}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,53}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>fish_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{72,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{72,53}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>fish_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{74,53}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,53}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>fish_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{78,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>fish_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{78,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>fish_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_15.png</string>
            <key>size</key>
            <string>{466,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a2bf9a11ac7b9ecbbcef240067a61c$</string>
            <key>textureFileName</key>
            <string>fish_15.png</string>
        </dict>
    </dict>
</plist>
