<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{79,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>fish_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>fish_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{73,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{73,50}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>fish_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{67,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{67,50}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>fish_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{69,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>fish_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,56}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_4.png</string>
            <key>size</key>
            <string>{458,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ebb6fe06c0b3ef118385eef7aa7304$</string>
            <key>textureFileName</key>
            <string>fish_4.png</string>
        </dict>
    </dict>
</plist>
