<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>fish_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>fish_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{68,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>fish_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{68,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>fish_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{70,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>fish_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_2.png</string>
            <key>size</key>
            <string>{436,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd37600414ce9ec0098c85e4e744004$</string>
            <key>textureFileName</key>
            <string>fish_2.png</string>
        </dict>
    </dict>
</plist>
