<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saber01_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,267},{263,187}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{263,187}}</string>
                <key>sourceSize</key>
                <string>{275,193}</string>
            </dict>
            <key>saber01_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{263,189}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{263,189}}</string>
                <key>sourceSize</key>
                <string>{275,193}</string>
            </dict>
            <key>saber01_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,193}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{263,193}}</string>
                <key>sourceSize</key>
                <string>{275,193}</string>
            </dict>
            <key>saber01_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{263,187}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{263,187}}</string>
                <key>sourceSize</key>
                <string>{275,193}</string>
            </dict>
            <key>saber_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,786},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{43,16}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>saber_diaoyuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,870},{32,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{32,26}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>saber_diaoyuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,864},{32,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{32,25}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>saber_diaoyuzuoshoujianbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,878},{17,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{17,24}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>saber_mashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,777},{169,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{169,120}}</string>
                <key>sourceSize</key>
                <string>{183,132}</string>
            </dict>
            <key>saber_matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,786},{100,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,90}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>saber_shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{247,203}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{247,203}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{243,191}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{243,191}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,532},{243,189}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{243,189}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shengliyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,777},{35,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{35,36}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>saber_shenglizuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>saber_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{82,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,118}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>saber_toudingtoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,832},{33,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{33,30}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>saber_youertoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,831},{15,31}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{15,31}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>saber_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,870},{22,29}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{22,29}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>saber_zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,814},{36,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{36,16}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>saber_zuoertoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,878},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>saber_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,878},{18,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{18,25}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_4.png</string>
            <key>size</key>
            <string>{456,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0380bcbf8e0508d8213d518c40d841$</string>
            <key>textureFileName</key>
            <string>player_4.png</string>
        </dict>
    </dict>
</plist>
