<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saber_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,670},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{43,16}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>saber_diaoyuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,591},{32,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{32,26}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>saber_diaoyuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,625},{32,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{32,25}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>saber_diaoyuzuoshoujianbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,763},{17,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{17,24}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>saber_mashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{169,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{169,120}}</string>
                <key>sourceSize</key>
                <string>{183,132}</string>
            </dict>
            <key>saber_matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{100,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,90}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>saber_shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,203}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{247,203}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{243,191}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{243,191}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{243,189}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{243,189}}</string>
                <key>sourceSize</key>
                <string>{265,207}</string>
            </dict>
            <key>saber_shengliyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,621},{35,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{35,36}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>saber_shenglizuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,591},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>saber_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,713},{82,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,118}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>saber_toudingtoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,659},{33,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{33,30}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>saber_youertoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,688},{15,31}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{15,31}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>saber_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,705},{22,29}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{22,29}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>saber_zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,652},{36,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{36,16}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>saber_zuoertoufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,691},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>saber_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,736},{18,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{18,25}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_4.png</string>
            <key>size</key>
            <string>{253,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8d716a5cfb9c8fe8fa28f77d5cc7c2$</string>
            <key>textureFileName</key>
            <string>player_4.png</string>
        </dict>
    </dict>
</plist>
