<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juren_ diaoyuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,17},{41,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,43}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>juren_ feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>juren_ feichuanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{83,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{83,13}}</string>
                <key>sourceSize</key>
                <string>{93,23}</string>
            </dict>
            <key>juren_ juren_ diaoyuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{38,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>juren_ renti.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{58,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,91}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>juren_ shengliyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,17},{33,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{33,46}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>juren_ shenglizuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{46,53}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,53}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>juren_ youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,51},{9,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{9,28}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>juren_ youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>juren_ zhayan.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,43},{25,13}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>juren_ zhengyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,27},{25,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{25,14}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>juren_ zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{29,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,47}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>juren_ zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,36},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,39}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_3.png</string>
            <key>size</key>
            <string>{496,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78c8df24dd6f910c34972fd3aecae01f$</string>
            <key>textureFileName</key>
            <string>player_3.png</string>
        </dict>
    </dict>
</plist>
